* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

body,
.overlay,
.overlay-title,
.grid,
.grid-container {
    display: flex;
}

body,
.overlay,
.overlay-title,
.grid {
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    padding: 16px;
    background-color: lightblue;
}

/* -- Input box -- */
.overlay {
    width: 55%;
    height: 20%;
    min-width: 480px;
    background-color: aqua;
    padding: 16px;
    border: black solid 3px;
    border-radius: 15px;
}
.overlay .overlay-title {
    margin: 8px 0;
    flex: 1;
}
.overlay .overlay-title h1 {
    font-size: 42px;
    text-align: center;
}
.overlay .overlay-box {
    width: 65%;
    height: 30%;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    padding: 0 8px;
    margin-top: auto;
}
/* --  -- */

/* -- Grid  -- */
.grid .grid-title {
    font-size: 56px;
    margin: 32px 0;
}
.grid .grid-container {
    width: 1080px;
    height: 1080px;
    background-color: rgb(0, 0, 0, 85%);
    border-radius: 5px;
    padding: 4px;
    flex-flow: wrap;
    gap: 4px;
    align-content: flex-start;
}
.grid .grid-container div {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    flex: 0 0 auto;
}
