* {
    margin: 0;
    padding: 0;
}

body,
.overlay,
.title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
}

.overlay {
    width: 55%;
    height: 15%;
    min-width: 480px;
    background-color: aqua;
    padding: 16px;
    border: black solid 3px;
    border-radius: 15px;
}
.overlay .title {
    margin: 8px 0;
    flex: 1;
}
.overlay .title h1 {
    font-size: 42px;
}
.overlay .box {
    width: 65%;
    height: 30%;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    padding: 0 8px;
    margin-top: auto;
}

/* .container {
    width: 960px;
    height: 960px;
    background-color: aqua;
} */
